html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	list-style: none;
}

#container, #mainSection{
	width: 400px;
	margin: auto;
	
}

#headings{
	height: 55px;
	width: 400px;
	margin:20px auto 0px;
	font-size: 16px;
	color:white;
	line-height: 55px;
	padding-left: 15px;
	background: rgb(129,188,57);
	border-bottom: 2px solid rgb(109,162,39);
}

#thumb{
	height:40px;
	width: 40px;
	line-height: 40px;
	display: inline-block; 
	float:left;
	border-radius: 50%;
	margin: 10px 30px 0px 0px;

}

ul{
	padding-left: 0px;
}
 #peepLink{
 	display: inline-block;
 	margin: auto;
 	width: 400px;
	height: 55px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

span{
	margin:0px;
	font-size:24px;
	height:55px;
}

.photo, #mainBody{
	margin:0px auto;
	width: 400px;
	height: 200px;
	
}

.photo{
	background-color: rgb(129,188,57);
}

 #larger{
 	display: block;
 	clear: both;
 	height: 150px;
 	width: 150px;
	margin: auto;
	text-align: center;
}
#backers{
	float: left;
	clear:left;
	background-color: transparent;
	border:none;
	outline: none;
	font-size: 24px;
}

#backers:hover{
	outline: 1px solid rgb(109,162,39);
}

#mainBody li{
	border-bottom: 1px solid #ccc;
	margin-bottom:15px;
	padding-bottom: 5px;
	color:#000;
}
.iconz{
 	margin-right:10px;
 }

a:link, a:visited, a:hover, a:active{
	color:#777;
}

